/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6fa;
  color: #333;
}

/* Layout general */
.layout-container {
  display: flex;
}

.content-area {
  flex: 1;
  padding: 2rem;
  margin-left: 250px; /* Igual que en el dashboard */
  min-height: 100vh;
  background-color: #f4f6fa;
}
